admin:
  existingSecret: "grafana-admin-creds"
  userKey: "admin-user"
  passwordKey: "admin-password"

grafana.ini:
  server:
    root_url: "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
    serve_from_sub_path: true

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        url: http://mimir-query-frontend.observability-prd.svc:8080/prometheus
      - name: Tempo
        type: tempo
        url: http://tempo-query-frontend.observability-prd.svc:3100
      - name: Loki
        type: loki
        url: http://loki-gateway.observability-prd.svc:80