minio:
  enabled: false

mimir:
  # Disable HA scheduling constraints
  affinity: {}
  
  structuredConfig:
    memberlist:
      join_members: 
        - dns+mimir-gossip-ring.observability-prd.svc.cluster.local:7946
      bind_addr: ["0.0.0.0"]
      bind_port: 7946

    blocks_storage:
      s3:
        endpoint: minio-storage.observability-prd.svc:9000
        bucket_name: mimir-blocks
        access_key_id: admin
        secret_access_key: "${s3_secret_key}"
        insecure: true
    alertmanager_storage:
      s3:
        endpoint: minio-storage.observability-prd.svc:9000
        bucket_name: mimir-ruler
        access_key_id: admin
        secret_access_key: "${s3_secret_key}"
        insecure: true