fullnameOverride: tempo-distributed

# 1. Distributor
distributor:
  replicas: 1
  affinity: {} # <--- Force Empty
  config:
    log_received_traces: true

# 2. Storage (Use MinIO Service)
storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-traces
      endpoint: minio-storage.observability-prd.svc:9000
      access_key: admin
      secret_key: "${s3_secret_key}"
      insecure: true
    wal:
      path: /var/tempo/wal

# 3. Ingester
ingester:
  replicas: 1
  affinity: {} # <--- Force Empty
  persistence:
    enabled: true
    size: 10Gi
  config:
    replication_factor: 1

# 4. Compactor
compactor:
  replicas: 1
  affinity: {} # <--- Force Empty
  config:
    compaction:
      compaction_window: 1h
      max_block_bytes: 1073741824
      block_retention: 48h
      compacted_block_retention: 1h

# 5. Querier
querier:
  replicas: 1
  affinity: {} # <--- Force Empty
  config:
    frontend_worker:
      frontend_address: tempo-distributed-query-frontend:9095

# 6. Query Frontend
queryFrontend:
  replicas: 1
  affinity: {} # <--- Force Empty

memcached:
  enabled: false

global_overrides:
  metrics_generator_processors: [service-graphs, span-metrics]

# 7. Gateway
gateway:
  enabled: true
  replicas: 1
  affinity: {} # <--- Force Empty
  ingress:
    enabled: false

# 8. Metrics Generator
metricsGenerator:
  enabled: true
  replicas: 1
  affinity: {} # <--- Force Empty
  config:
    storage:
      remote_write:
        # Note: Pointing to Mimir Distributor
        - url: http://mimir-distributor.observability-prd.svc:8080/api/v1/push
          send_exemplars: true

serviceMonitor:
  enabled: false